* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #626262;
}
body {
  width: 1200px;
  padding: 0 90px;
}
a {
  text-decoration: none;
  font-size: 14px;
}

img {
  margin-bottom: 30px;
}
ul li {
  vertical-align: top;
}

h2 {
  font-size: 30px;
  word-spacing: -0.15em;
  margin-bottom: 30px;
}

nav {
  margin: 0 auto;
  width: 736px;
}

p {
  font-size: 14px;
}
nav ul {
  display: inline-block;
  word-spacing: -0.36em;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 60px;
  text-align: center;
}
nav ul li a:hover {
  color: #03a9f4;
}
.container {
  padding-top: 77px;
  margin: 0 auto;
  width: 1080px;
}

.content {
  width: 1080px;
}
.content ul {
  word-spacing: -0.36em;
  text-align: left;
}
.content ul li {
  padding: 60px;
  width: 420px;
  display: inline-block;
  word-spacing: normal;
}

.tags {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 15px;
}

.submit {
  width: 164px;
  margin: 0 auto;
}
.button {
  border: 1px solid #626262;
  background-color: white;
  font-size: 20px;
  line-height: 24px;
  height: 60px;
  color: #626262;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #03a9f4;
  color: white;
}
