* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #626262;
}
body {
  width: 1200px;
  padding: 0 90px 90px 90px;
}
a {
  text-decoration: none;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
ul li {
  vertical-align: top;
}

h2 {
  font-size: 30px;
  word-spacing: -0.15em;
  margin-bottom: 30px;
}

nav {
  text-align: center;
}

p {
  font-size: 14px;
}
nav ul {
  word-spacing: -0.36em;
}
nav ul li {
  margin-bottom: 100px;
  margin-top: 77px;
  display: inline-block;
  text-transform: uppercase;

  margin-right: 100px;

  text-align: center;
}
nav ul li:last-child {
  margin-right: 0;
}

nav ul li a:hover {
  color: #03a9f4;
}
.container {
  margin: 0 auto;
  width: 900px;
}

.content {
  width: 900px;
}
.content ul {
  word-spacing: -0.36em;
  text-align: left;
}
.content ul li:nth-child(odd) {
  margin-right: 60px;
}

.content ul li {
  margin-bottom: 120px;
  width: 420px;
  display: inline-block;
  word-spacing: normal;
}
.content ul li:nth-last-child(-n + 2) {
  margin-bottom: 55px;
}
.tags {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit {
  width: 164px;
  margin: -30px auto 0 auto;
}
.button {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 22px 34px;
  text-align: center;
  display: block;
  border: 1px solid #626262;
  background-color: white;
  color: #626262;
  cursor: pointer;
}

button:hover {
  background-color: #03a9f4;
  color: white;
}
